body{
    overflow-x: hidden; /* to prevent horizontal scrolling */
}

#bg1 {
    background-image: url('https://www.cpasitesolutions.com/cpa-websites/wp-content/uploads/2024/06/local-seo-for-bookeepers-1.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}



/* Media Queries for mobiles responsivenes */
@media (max-width: 768px) {
    .row {
        flex-direction: coloum; /* Stack coloum vertically */
    }

    .col-4, .col-6, .col-3{
        width: 100%;
        /* full width for mobiles */

        margin-bottom: 20px;
        /* space between stacked elements */
    }

    img {
        width: 100%;
        height: auto;

    }

    .box {
        padding: 20px;
    }

    h3,h4 {
        font-size: 1.5em; /* Adjust font size for headings */
    }
}